{% assign image = page.footer | default: site.footer %}
{% assign dark = page.footer-dark | is_nil: site.footer-dark | is_nil: true %}

<footer
  class="background"
  style="--image: url('{{ image | relative_url | uri_escape }}')"
  {% if dark == true or dark == false %}
    data-dark="{{ dark }}"
  {% endif %}
  data-size="wide"
>
    <nav class="footer__nav">
    {% assign pages = site.pages
      | where_exp: "page", "page.nav"
      | sort: "nav.order"
    %}
    {% for page in pages %}
      {% if page.nav %}
        <a
          href="{{ page.dir | relative_url | uri_escape }}"
          data-tooltip="{{ page.nav.tooltip | xml_escape }}"
        >
          {{ page.title }}
        </a>
      {% endif %}
    {% endfor %}
  </nav>

    <div class="footer__logos">
      <a href="https://www.oden.utexas.edu" target="_blank">
        <img class="footer__logo-image" src="/images/oden_footer.png" alt="UT Oden">
      </a>
      <a href="https://dellmed.utexas.edu" target="_blank">
        <img class="footer__logo-image" src="/images/DellMed_footer.png" alt="Dell Med">
      </a>

    </div>
 

  <!-- <div>
    {% for link in site.links %}
      {% assign key = link[0] %}
      {% assign value = link[1] %}
      {% include button.html type=key text="" link=value style="bare" %}
    {% endfor %}
  </div> -->


  <div>
    &copy; {{ site.time | date: "%Y" }}
    {{ site.title }}
    &nbsp; | &nbsp; Built with
    <a href="https://github.com/greenelab/lab-website-template">
      Lab Website Template
    </a>
  </div>

  <input
    type="checkbox"
    class="dark-toggle"
    data-tooltip="Dark mode"
    aria-label="toggle dark mode"
    oninput="onDarkToggleChange(event)"
  >
</footer>
